<?php
/**
 * ReceiptsApi
 * PHP version 5
 *
 * @category Class
 * @package  EzzeSiftuz\ReceiptsV1
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Receipts API
 *
 * Interface for the partner to get receipts information
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 3.0.16
 */
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace EzzeSiftuz\ReceiptsV1\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use EzzeSiftuz\ReceiptsV1\ApiException;
use EzzeSiftuz\ReceiptsV1\Configuration;
use EzzeSiftuz\ReceiptsV1\HeaderSelector;
use EzzeSiftuz\ReceiptsV1\ObjectSerializer;

/**
 * ReceiptsApi Class Doc Comment
 *
 * @category Class
 * @package  EzzeSiftuz\ReceiptsV1
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ReceiptsApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation getReceiptPdfUsingGET
     *
     * Get the PDF document of a specific receipt by receipt number. It's valid only for purchase receipts for now.
     *
     * @param  string $receipt_number ReceiptNumber (required)
     *
     * @throws \EzzeSiftuz\ReceiptsV1\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return void
     */
    public function getReceiptPdfUsingGET($receipt_number)
    {
        $this->getReceiptPdfUsingGETWithHttpInfo($receipt_number);
    }

    /**
     * Operation getReceiptPdfUsingGETWithHttpInfo
     *
     * Get the PDF document of a specific receipt by receipt number. It's valid only for purchase receipts for now.
     *
     * @param  string $receipt_number ReceiptNumber (required)
     *
     * @throws \EzzeSiftuz\ReceiptsV1\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function getReceiptPdfUsingGETWithHttpInfo($receipt_number)
    {
        $returnType = '';
        $request = $this->getReceiptPdfUsingGETRequest($receipt_number);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
            throw $e;
        }
    }

    /**
     * Operation getReceiptPdfUsingGETAsync
     *
     * Get the PDF document of a specific receipt by receipt number. It's valid only for purchase receipts for now.
     *
     * @param  string $receipt_number ReceiptNumber (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getReceiptPdfUsingGETAsync($receipt_number)
    {
        return $this->getReceiptPdfUsingGETAsyncWithHttpInfo($receipt_number)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getReceiptPdfUsingGETAsyncWithHttpInfo
     *
     * Get the PDF document of a specific receipt by receipt number. It's valid only for purchase receipts for now.
     *
     * @param  string $receipt_number ReceiptNumber (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getReceiptPdfUsingGETAsyncWithHttpInfo($receipt_number)
    {
        $returnType = '';
        $request = $this->getReceiptPdfUsingGETRequest($receipt_number);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getReceiptPdfUsingGET'
     *
     * @param  string $receipt_number ReceiptNumber (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function getReceiptPdfUsingGETRequest($receipt_number)
    {
        // verify the required parameter 'receipt_number' is set
        if ($receipt_number === null || (is_array($receipt_number) && count($receipt_number) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $receipt_number when calling getReceiptPdfUsingGET'
            );
        }

        $resourcePath = '/v1/receipts/{receiptNumber}/pdf';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($receipt_number !== null) {
            $resourcePath = str_replace(
                '{' . 'receiptNumber' . '}',
                ObjectSerializer::toPathValue($receipt_number),
                $resourcePath
            );
        }

        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                []
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                [],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('Authorization');
        if ($apiKey !== null) {
            $headers['Authorization'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getReceiptUsingGET
     *
     * Get a specific receipt for the given receipt number as JSON object
     *
     * @param  string $receipt_number ReceiptNumber (required)
     *
     * @throws \EzzeSiftuz\ReceiptsV1\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \EzzeSiftuz\ReceiptsV1\Model\Receipt
     */
    public function getReceiptUsingGET($receipt_number)
    {
        list($response) = $this->getReceiptUsingGETWithHttpInfo($receipt_number);
        return $response;
    }

    /**
     * Operation getReceiptUsingGETWithHttpInfo
     *
     * Get a specific receipt for the given receipt number as JSON object
     *
     * @param  string $receipt_number ReceiptNumber (required)
     *
     * @throws \EzzeSiftuz\ReceiptsV1\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \EzzeSiftuz\ReceiptsV1\Model\Receipt, HTTP status code, HTTP response headers (array of strings)
     */
    public function getReceiptUsingGETWithHttpInfo($receipt_number)
    {
        $returnType = '\EzzeSiftuz\ReceiptsV1\Model\Receipt';
        $request = $this->getReceiptUsingGETRequest($receipt_number);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\EzzeSiftuz\ReceiptsV1\Model\Receipt',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation getReceiptUsingGETAsync
     *
     * Get a specific receipt for the given receipt number as JSON object
     *
     * @param  string $receipt_number ReceiptNumber (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getReceiptUsingGETAsync($receipt_number)
    {
        return $this->getReceiptUsingGETAsyncWithHttpInfo($receipt_number)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getReceiptUsingGETAsyncWithHttpInfo
     *
     * Get a specific receipt for the given receipt number as JSON object
     *
     * @param  string $receipt_number ReceiptNumber (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getReceiptUsingGETAsyncWithHttpInfo($receipt_number)
    {
        $returnType = '\EzzeSiftuz\ReceiptsV1\Model\Receipt';
        $request = $this->getReceiptUsingGETRequest($receipt_number);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = $responseBody->getContents();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getReceiptUsingGET'
     *
     * @param  string $receipt_number ReceiptNumber (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function getReceiptUsingGETRequest($receipt_number)
    {
        // verify the required parameter 'receipt_number' is set
        if ($receipt_number === null || (is_array($receipt_number) && count($receipt_number) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $receipt_number when calling getReceiptUsingGET'
            );
        }

        $resourcePath = '/v1/receipts/{receiptNumber}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($receipt_number !== null) {
            $resourcePath = str_replace(
                '{' . 'receiptNumber' . '}',
                ObjectSerializer::toPathValue($receipt_number),
                $resourcePath
            );
        }

        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('Authorization');
        if ($apiKey !== null) {
            $headers['Authorization'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getReceiptsUsingGET
     *
     * Get all receipts as list of JSON objects
     *
     * @param  string $customer_id Search for receipts filtered by customer Id (optional)
     * @param  int $limit Page size to limit the number of receipts returned in the response (optional)
     * @param  int $page Page number to fetch. This parameter is required to fetch data for specific page number (optional)
     * @param  string $sales_order_id Search for receipts filtered by sales order Id (optional)
     * @param  string $type Search for receipts filtered by receipt type (optional)
     *
     * @throws \EzzeSiftuz\ReceiptsV1\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \EzzeSiftuz\ReceiptsV1\Model\ReceiptsList
     */
    public function getReceiptsUsingGET($customer_id = null, $limit = null, $page = null, $sales_order_id = null, $type = null)
    {
        list($response) = $this->getReceiptsUsingGETWithHttpInfo($customer_id, $limit, $page, $sales_order_id, $type);
        return $response;
    }

    /**
     * Operation getReceiptsUsingGETWithHttpInfo
     *
     * Get all receipts as list of JSON objects
     *
     * @param  string $customer_id Search for receipts filtered by customer Id (optional)
     * @param  int $limit Page size to limit the number of receipts returned in the response (optional)
     * @param  int $page Page number to fetch. This parameter is required to fetch data for specific page number (optional)
     * @param  string $sales_order_id Search for receipts filtered by sales order Id (optional)
     * @param  string $type Search for receipts filtered by receipt type (optional)
     *
     * @throws \EzzeSiftuz\ReceiptsV1\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \EzzeSiftuz\ReceiptsV1\Model\ReceiptsList, HTTP status code, HTTP response headers (array of strings)
     */
    public function getReceiptsUsingGETWithHttpInfo($customer_id = null, $limit = null, $page = null, $sales_order_id = null, $type = null)
    {
        $returnType = '\EzzeSiftuz\ReceiptsV1\Model\ReceiptsList';
        $request = $this->getReceiptsUsingGETRequest($customer_id, $limit, $page, $sales_order_id, $type);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\EzzeSiftuz\ReceiptsV1\Model\ReceiptsList',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation getReceiptsUsingGETAsync
     *
     * Get all receipts as list of JSON objects
     *
     * @param  string $customer_id Search for receipts filtered by customer Id (optional)
     * @param  int $limit Page size to limit the number of receipts returned in the response (optional)
     * @param  int $page Page number to fetch. This parameter is required to fetch data for specific page number (optional)
     * @param  string $sales_order_id Search for receipts filtered by sales order Id (optional)
     * @param  string $type Search for receipts filtered by receipt type (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getReceiptsUsingGETAsync($customer_id = null, $limit = null, $page = null, $sales_order_id = null, $type = null)
    {
        return $this->getReceiptsUsingGETAsyncWithHttpInfo($customer_id, $limit, $page, $sales_order_id, $type)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getReceiptsUsingGETAsyncWithHttpInfo
     *
     * Get all receipts as list of JSON objects
     *
     * @param  string $customer_id Search for receipts filtered by customer Id (optional)
     * @param  int $limit Page size to limit the number of receipts returned in the response (optional)
     * @param  int $page Page number to fetch. This parameter is required to fetch data for specific page number (optional)
     * @param  string $sales_order_id Search for receipts filtered by sales order Id (optional)
     * @param  string $type Search for receipts filtered by receipt type (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getReceiptsUsingGETAsyncWithHttpInfo($customer_id = null, $limit = null, $page = null, $sales_order_id = null, $type = null)
    {
        $returnType = '\EzzeSiftuz\ReceiptsV1\Model\ReceiptsList';
        $request = $this->getReceiptsUsingGETRequest($customer_id, $limit, $page, $sales_order_id, $type);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = $responseBody->getContents();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getReceiptsUsingGET'
     *
     * @param  string $customer_id Search for receipts filtered by customer Id (optional)
     * @param  int $limit Page size to limit the number of receipts returned in the response (optional)
     * @param  int $page Page number to fetch. This parameter is required to fetch data for specific page number (optional)
     * @param  string $sales_order_id Search for receipts filtered by sales order Id (optional)
     * @param  string $type Search for receipts filtered by receipt type (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function getReceiptsUsingGETRequest($customer_id = null, $limit = null, $page = null, $sales_order_id = null, $type = null)
    {

        $resourcePath = '/v1/receipts';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($customer_id !== null) {
            $queryParams['customer_id'] = ObjectSerializer::toQueryValue($customer_id);
        }
        // query params
        if ($limit !== null) {
            $queryParams['limit'] = ObjectSerializer::toQueryValue($limit);
        }
        // query params
        if ($page !== null) {
            $queryParams['page'] = ObjectSerializer::toQueryValue($page);
        }
        // query params
        if ($sales_order_id !== null) {
            $queryParams['sales_order_id'] = ObjectSerializer::toQueryValue($sales_order_id);
        }
        // query params
        if ($type !== null) {
            $queryParams['type'] = ObjectSerializer::toQueryValue($type);
        }


        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('Authorization');
        if ($apiKey !== null) {
            $headers['Authorization'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
